.type,.url {
    text-decoration: none;
    color: black;
    font-size: medium;
}



#url {
    color: blue;
    font-size: medium;
    text-decoration: none;
}

.details {
    color: black;
}